<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Application">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="base64:QwU0WFRm3iIqf4YBycPJhToQcuIgMiWP3SbEWUdjWhA=" force="true"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="LOG_CHANNEL" value="null" force="true"/>
    </php>
</phpunit>
